@media screen and (min-width: 768px) {

    /* HEADER */

    header {
        padding: 1rem 2rem;
    }

    #menu-btn {
        display: none;
    }

    nav {
        display: flex;
        position: static;
        width: auto;
        border: none;
        flex-direction: row;
        gap: 1rem;
    }

    nav a {
        padding: .5rem 1rem;
    }

    /* MAIN */

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }

    /* HERO */

    .hero {
        padding: 4rem 2rem;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero p {
        max-width: 700px;
        margin: 0 auto 1.5rem;
    }

    /* CARDS */

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* ABOUT */

    .about,
    .benefits,
    .featured,
    .cta {
        padding: 2rem;
    }

    /* LANGUAGES PAGE */

    #languages-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
    }

    /* Careers */

    .careers-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    /* FOOTER */

    footer {
        padding: 2rem;
    }
}